* { margin: 0; }
*, *::before, *::after { box-sizing: border-box; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, canvas, svg {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}