@import './global';

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body,
#app,
#wrapper {
  @include contained;
}

::selection {
  color: var(--accent-color-contrast);
  background: var(--accent-color);
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 0 var(--scrollbar-border-width) var(--overall-border-color);
  border-radius: var(--radius-md);
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-md);
  background-color: var(--accent-color);
}

#wrapper {
  @include flex-col(center, normal);
  background: var(--background-color);
  background-image: var(--background-gradient);
}

h1 {
  color: var(--text-emphasize-color);
  font-size: var(--font-size-xl);
  font-weight: 700;
}

h2 {
  color: var(--text-emphasize-color);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

h3 {
  color: var(--text-emphasize-color);
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}