:root {
  --base-color: hsl(189deg 100% 85% / 87%);
  --base-color-lighter: hsl(189deg 100% 95% / 90%);
  --shade-color: hsl(189deg 55% 35% / 87%);
  --shade-color-lighter: hsl(189deg 35% 45% / 87%);
  --shade-color-glow: hsl(189deg 35% 45% / 17%);
  --accent-color: #e1d287;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(180, 244, 255, 0.87);
  background: rgb(17, 15, 29);
  background: linear-gradient(133deg, rgba(17, 15, 29, 1) 0%, #0f1a1d);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  text-shadow: 0 0 1rem rgba(180, 255, 255, 0.17);
  margin-block-end: 0.25rem;
  background: -webkit-linear-gradient(var(--base-color-lighter), var(--base-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pluginTitle 16s infinite ease-in-out;
}

h2 {
  position: relative;
  margin-block-start: 0.65rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  border-image-slice: 1;

  letter-spacing: 7px;
  background: -webkit-linear-gradient(var(--base-color), var(--shade-color-lighter));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image-source: linear-gradient(to right, var(--shade-color-lighter), var(--shade-color));
  padding: 0.8255rem;
  margin: 1.5rem;
  box-shadow: 0 0 1rem var(--shade-color-glow);
  animation: exampleTitle 21s infinite ease-in-out;
}

p {
  color: #e1d287;
  font-size: 1.5rem;
  animation: requests 28s infinite ease-in-out;
}

#count {
  text-shadow: 0 0 0.85rem #e1d28722;
}

#title.disabled {
  text-decoration: line-through;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes pluginTitle {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0.4rem, 1rem) scale(1.07);
  }
}

@keyframes exampleTitle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-0.4rem, 1rem) scale(1.04);
    opacity: 0.7;
  }
}

@keyframes requests {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0.9rem, 0.9rem) scale(1.09);
  }
}
